body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animation-fade {
  animation: fade 1s;

}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity:1;}
}

.animation-slide-right {
  animation: slide-right 1s;

}

@keyframes slide-right {
    0%  {left: -200px; }
    /* 50% {left:100px;} */
    100% {left: 0px; }
}